.logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #c4cfde;
    font-weight: 400;
    letter-spacing: 1px;
}
.bg-color{
    background: transparent !important;
}
/* .container{
    max-width: 1300px;
} */
.nav_header{
    padding: 15px 0;
}
.nav-item{
    margin: 0 5px;
    padding: 0 20px;
}
.nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: #c4cfde;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.nav-link.active{
    color: #ff014f !important;
}

.nav-link:hover{
    color: #ff014f;
}
.logo img{
    width: 20%;
    height: auto;
    margin-right: 5px;
}
.mybtn{
    background-color: #1f2125;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    padding: 12px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #c4cfde;
}
.mybtn:hover{
   color: #ff014f;
   background-color: #1f2125;
}


