.container{
    max-width: 1300px;
  }

.banner_part{
    width: 100%;
    height: auto;
    padding: 0 0 50px;
}

.banner_part .content h1{
    font-size: 65px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 35px;
    color: #c4cfde;
    line-height: 73px;
}
.banner_part .content h1 span{
    color: #ff014f;
}
.content p{
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.banner_part .content{
    padding-top: 150px;
    padding-right: 40px;
}
.banner_part .content h5{
    color: #c4cfde;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner_part .content h2{
    color: #c4cfde;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
}
.banner_part .content p{
    color: #c4cfde;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
}
.portfolio_area img{
    width: 80%;
}

.portfolio_area{
    position: relative;
}
.portfolio_area::after{
    position: absolute;
    z-index: -1;
    width: 80%;
    height: calc(100% - 130px);
    content: "";
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #1f2125;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 6px;
}


.social i{
    background: #1f2125;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: #c4cfde;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}
.social p{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.confarence{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

}

.fa-brands.fa-react{
    color: #61DBFB;
}
.fa-brands.fa-html5{
    color: #f06529;
}
.fa-brands.fa-css3{
    color: #264de4 ;
}
.fa-brands.fa-square-js{
    color: #f0db4f;
}


.fa-brands.fa-facebook-f{
    color: #3b5998;
}
.fa-brands.fa-twitter{
    color: #00acee ;
}
.fa-brands.fa-linkedin-in{
    color: #0A66C2 ;
}

.banner_part{
    border-bottom: 1px solid #383a3e;
}



/* ----------------------- banerr part end here *0/


/* -------------------------------about part srat here */

.common{
    padding: 80px 0;
    border-bottom: 1px solid #383a3e;
}
.s_card{
    background: #1f2125;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    width: 100%;
    height: 100%;
    padding: 80px 30px 0;
    margin-bottom: 30px;
    border-radius: 10px;
}
.s_card h3{
    color: #c4cfde;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.s_card p{
    font-size: 14px;
    color: #c4cfde;
}

.s_card i{
    color: #ff014f;
    font-size: 30px;
    margin-bottom: 40px;
}
.fa-solid.fa-arrow-right{
    color: #ff014f;
    font-size: 25px;
    margin-top: 30px;
}
.about_part h2{
    font-size: 60px;
    color: #c4cfde;
    margin-bottom: 30px;
    font-weight: 600;
}

/* -------------------------------portfolio part srat here */

.s_card IMG{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}
.port_card{
    padding: 25px 25px 0;

}

.portfolio h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
.portfolio h5{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ff014f;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.s_card.port_card h3{
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: block;
}


/* ------------------------------------------ resume */


.page-section{
    background: #1f2125;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 20px;
  }
  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #2a2d35;
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #2a2d35;
    border: 7px solid #2a2d35;
    border-radius: 100%;
    background-color: #ff014f;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 50px;
        height: 50px;
        margin-left: -26px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  
  .page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 60px;

  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
   
    margin-bottom: 4rem;
  }
  
  /* @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }
  
  .text-center {
      text-align: center !important;
  }
  
  .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .text-uppercase {
      text-transform: uppercase !important;
  }
  
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 4rem;
  }
  
  .text-muted {
      --bs-text-opacity: 1;
      color: #6c757d !important;
  }
  
  p {
      line-height: 1.75;
  }
  @media (min-width: 1400px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
  }
}
  @media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }
  }
  @media (min-width: 992px){
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
}
  @media (min-width: 768px){
  .container-md, .container-sm, .container {
      max-width: 720px;
  }
}
  @media (min-width: 576px){
  .container-sm, .container {
      max-width: 540px;
  }
} */
  /* .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
  } */
  *, *::before, *::after {
      box-sizing: border-box;
  }
  user agent stylesheet
  div {
      display: block;
  }
  